.footer a {
  text-decoration: none;
  color: #ffc107;
  font-weight: 600;
}

.footer a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.social-icons a {
  color: #fff;
}

.admin-link a {
  color: #ffc107;
}
