/* Reutilizamos los mismos estilos que el Impressum para mantener la consistencia */
.legal-container .card {
  border: none;
}

.legal-section {
  margin-bottom: 2.5rem;
}

.legal-section h2 {
  font-size: 1.5rem;
  color: #343a40;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #dee2e6;
}

.legal-section p, .legal-section a {
  line-height: 1.7;
  color: #495057;
  text-align: justify;
}