<div class="hero-container">
  <div class="hero-bg"></div>
  <div class="hero-content text-center">
    
    <div class="brand-imagen">
          <img src="/logo3-divineglow.png" width="40%" alt="">
<h1 class="brand-name">divine glow</h1>
    </div>
    <h2 class="hero-title">Kunst zum Tragen. Handgewebte Geschichten.</h2>
    <p class="hero-subtitle">Mehr als nur eine Tasche – ein Statement. Jedes Stück ist eine Reise der Kreativität und Hingabe, geschaffen für die Frau, die keinen Trends folgt, sondern sie erschafft. Entdecke einzigartige Designs, so einmalig wie du.</p>
    <a routerLink="/products" class="btn btn-primary btn-lg hero-button">Kollektion entdecken</a>
  </div>
</div>
<div class="scroll-indicator">
        <div class="scroll-arrow"></div>
      </div>
<!-- Aquí irá el nuevo componente que crearemos a continuación -->
<app-features></app-features>
