<section class="features-section">
  <div class="container">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="feature-card">
          <div class="card-image-wrapper">
            <img src="/modelo-minibolso.png" alt="Modell mit kleiner rosa Tasche">
          </div>
          <div class="card-content">
            <p>"Klein, aber oho! Dieser Mini-Beutel ist dein strahlender Begleiter für die schönsten Momente."</p>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="feature-card">
          <div class="card-image-wrapper">
            <img src="/modelo-rosa.png"alt="Modell mit grosser rosa Perlentasche">
          </div>
          <div class="card-content">
            <p>"Handgefertigt mit Liebe, getragen mit Stil. Dein Statement-Accessoire für jeden Anlass."</p>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-lg-4 col-md-6 mb-4 d-md-none d-lg-block mx-auto">
        <div class="feature-card">
          <div class="card-image-wrapper">
            <img src="/modelo-blanco2.png" alt="Modell mit weisser Perlentasche" style="object-position:center;">
          </div>
          <div class="card-content">
            <p>"Eleganz, die verzaubert. Ein Perlen-Traum, der jedem Outfit Glanz verleiht."</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>