<section class="features-section">
  <div class="container">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-lg-4 col-md-6 mb-4" appScrollAnimation="100ms">
        <div class="feature-card">
          <div class="card-image-wrapper">
            <img src="/modelo-azul2.jpeg" alt="Modell mit kleiner rosa Tasche" loading="lazy">
          </div>
          <div class="card-content">
            <p class="fw-bold">Zeitlos & handgefertigt</p>
            <p>Besondere Taschen mit Liebe zum Detail.</p>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-lg-4 col-md-6 mb-4" appScrollAnimation="250ms">
        <div class="feature-card">
          <div class="card-image-wrapper">
            <img src="/modelo-rosa2.jpeg"alt="Modell mit grosser rosa Perlentasche" loading="lazy">
          </div>
          <div class="card-content">
            <p class="fw-bold">Feminin & einzigartig</p>
            <p>Handgefertigt für deinen ganz persönlichen Stil.</p>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-lg-4 col-md-6 mb-4 d-md-none d-lg-block mx-auto" appScrollAnimation="400ms">
        <div class="feature-card">
          <div class="card-image-wrapper">
            <img src="/modelo-negro2.jpeg" alt="Modell mit weisser Perlentasche" loading="lazy" style="object-position:center;">
          </div>
          <div class="card-content">
            <p class="fw-bold">Zeitlos & elegant</p>
            <p>Eine handgefertigte Tasche für deinen ganz persönlichen Stil.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>