<div class="container py-5">
  <h2 class="text-center mb-5">Nuestra Colección</h2>
  <div class="row">
    <div class="filtros">
  <button 
    (click)="mostrarConSchmuck()"
    [class.active]="filtro() === 'con'"
    class="btn">
    Schmuck
  </button>

  <button 
    (click)="mostrarSinSchmuck()"
    [class.active]="filtro() === 'sin'"
    class="btn">
    Taschen
  </button>

  <button 
    (click)="mostrarTodos()"
    [class.active]="filtro() === 'todos'"
    class="btn btn-secondary">
    Alle
  </button>
</div>
<hr>
    @for (product of productosFiltrados(); track product.id; let i = $index) {
         <div class="col-6 col-md-4 col-lg-3 mb-4" [appScrollAnimation]="i * 100 + 'ms'">
      <div class="card product-card " [routerLink]="['/product', product.id]">
        <img [src]="'/api1' + product.imagenes[0]?.imageUrl" class="card-img-top" [alt]="product.name" style="object-position: center;">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
        </div>
      <div class="card-footer d-flex flex-column align-items-center gap-2">
  <span class="price fs-4 fw-bold text-dark">
    {{ product.price | currency:'CHF' }}
  </span>

  <button class="btn btn-dark w-100">
    Details
  </button>
</div>
      </div>
    </div>
    }
   
  </div>
</div>

