<div class="legal-container container my-5">
  <div class="card shadow-sm">
    <div class="card-body p-lg-5">
      <h1 class="card-title text-center mb-5">Impressum</h1>

      <section class="legal-section">
        <h2>Angaben gemäss Art. 3 Abs. 1 lit. s UWG</h2>
        <p>
          <strong>divineglow</strong><br>
          Gabriela Perez<br>
          8730 Uznach- Sant Gallen<br>
          Schweiz
        </p>
      </section>

      <section class="legal-section">
        <h2>Kontakt</h2>
        <p>
          <strong>E-Mail:</strong> divinneeglow@gmail.com<br>
        </p>
      </section>

      <!-- <section class="legal-section">
        <h2>Unternehmens-Identifikationsnummer (UID)</h2>
        <p>[Deine UID hier einfügen, falls vorhanden. Bsp: CHE-123.456.789]</p>
      </section> -->

      <section class="legal-section">
        <h2>Haftungsausschluss</h2>
        <p>Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen. Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen.</p>
        <p>Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs. Es wird jegliche Verantwortung für solche Webseiten abgelehnt.</p>
      </section>

      <section class="legal-section">
        <h2>Urheberrechte</h2>
        <p>Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf dieser Website gehören ausschliesslich <strong>divineglow</strong> oder den speziell genannten Rechtsinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung der Urheberrechtsträger im Voraus einzuholen.</p>
      </section>
    </div>
  </div>
</div>